@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Global Styles */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1px 10%;
  background: #eeeeee;
}
a{
  text-decoration: none;
}
    a.gien:link {
    color: #1B5380;
}
    a.gien:visited {
    color: #1B5380;
}
    a.gien:hover {
    color: #FF5F07;
}
    a.gien:active {
    color: #1B5380;
}
/* Container Styles */
.container {
  display: flex;
  height: 89vh;
}
.main-wrapper{
  flex: 2;
  overflow-y: scroll;
  .emphasized { font-style: italic; }
}
.side-bar{
  background: #e9f9ff;
  flex: .1;
  padding: 40px;
}
.side-bar ul{
  padding: 0 40px;
  list-style: none;
}
.side-bar{
  background: #81cae4;
  h2 {
    color: white;
    text-align: center;
    font-size: 55px;
  }
}
@media only screen and (max-width: 100px) {
  .container {
    flex-direction: column;
  }
  .side-bar{
    background: #114;
    color: #0E416B !important;
  }
  .side-bar a{
    color: #0E416B !important;
  }
}
/* Navigation Menu Styles */
nav.nav-menu {
    width: 100%;
    background-color: #fff301;
    padding: 10px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #565458;
  font-weight: bold;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 22px;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: #b7b9b9;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-weight: lighter;
  padding-top: 25px;
}
/* Main Content Wrapper Styles */
.main-wrapper {
    background: #ffffff;
    padding: 40px 50px;
    text-align: left;
  }
  li {
    text-align: justify;
    margin: 2px;
    padding-right: 50px;
    padding-left: 2px;
    margin-left: 90px;
    padding-top: 8px;
  }
  a {
    color: #046ea2;
  }
  a:hover{
    color: #fff301;
  }
  section {
    margin-bottom: 20px;
  }
  section.head,
  section.youtube-embed {
    text-align: center;
  }
  .button-link {
    display: block;
    margin: 20px 0 0 0;
    margin-left: 40px;
    padding: 10px 50px;
    width: fit-content;
    background: #ac997e;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.3s transform ease-in-out;
  }
  .button-link1 {
      display: block;
      margin: 2px 0 0 0;
      padding: 2px 8px;
      width: fit-content;
      border-radius: 12px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      transition: 0.3s transform ease-in-out;
    }
  .button-link:hover {
    transform: scale(1.05);
    background-color: #9e9e3f;
  }
  .button-link1:hover {
      transform: scale(1.05);
      background-color: rgb(230, 230, 231);
      border: 1px solid #28b8ec;
      color: #f36827;
    }
  h1 {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-left: 50px;
    font-weight: bolder;
  }
  h2 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 2px;
   padding-right: 15px;
   margin-left: 45px;
   margin-right: 25px;
   font-weight: bolder;
  }
  h3 {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 2px;
   padding-right: 15px;
   margin-left: 45px;
   margin-right: 25px;
  }
  h4 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 2px;
   padding-right: 15px;
   margin-left: 45px;
   margin-right: 45px;
  }
  h5 { 
    font-size: 28px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 2px;
   padding-right: 15px;
   margin-left: 45px;
   margin-right: 45px;
   color: #222222;
  }
  ul{
    text-align: justify;
  }
    .side ul{
      text-align: justify;
      margin-bottom: 10px;
      line-height: 1.5rem;
      font-family: "Cormorant SC", sans-serif;
      font-size:30px;
    }
  ol{
      padding-left: 10px;
      text-align: justify;
  }
      .side ol{
        text-align: justify;
        margin-bottom: 10px;
        line-height: 1.5rem;
        font-family: "Cormorant SC", sans-serif;
        font-size:30px;
      }
  p {
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-right: 15px;
    margin-left: 45px;
    margin-right: 45px;
  }
  img {
    max-width: 100%;
    float: left;
    border: 0px solid white;
    border-radius: 0px;
    margin: 0px;
  }
  img.gien {
      max-width: 100%;
      float: left;
      border: 0px solid white;
      border-radius: 0px;
      margin: 0px;
  }
  .hero-gien {
      background-image: linear-gradient(rgba(71, 71, 71, 0.5), rgba(77, 77, 77, 0.5)), url("#");
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-0%, 0%);
      color: rgb(12, 9, 9);
      font-weight: bold;
      font-size: 20px;
  }
  .two-col {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .two-col div {
    width: 100%;
  }
  @media only screen and (max-width: 900px) {
    body {
      padding: 0;
    }
    .two-col {
      flex-direction: column;
    }
    .two-col div {
      width: 100%;
    }
    .main-wrapper {
      padding: 5%;
    }
  }
hr.new4 {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
hr.new5 {
    border: 3px solid #fcd240;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(94, 90, 90, 0.1);
}

/* Header row */
thead th {
  background-color: #968c8c;
  text-align: left;
  padding: 12px 16px;
  font-size: 16px;
  border-bottom: 2px solid #8f8a8a;
}

/* Body rows */
tbody td {
  padding: 12px 16px;
  border-bottom: 1px solid #cac3c3;
  font-size: 15px;
}

/* Last row no border */
tbody tr:last-child td {
  border-bottom: none;
}

/* Hover effect */
tbody tr:hover {
  background-color: #726e6e;
}